# Virtual Environments
venv/
.venv/
env/
bin/
lib/
share/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data Files (Avoid pushing heavy raw data to GitHub)
data/raw/*
data/interim/*
data/processed/*
data/external/*

# Allow specific data folders requested
!data/interim/indeci/
!data/interim/metadata/
!data/interim/midagri/
!data/interim/nasa/
!data/raw/agraria_pe/

# Ensure .gitkeep files are still tracked
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/processed/master_dataset_lstm.csv
!data/external/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment & Logs
.env
*.log
checkpoint.json
debug_page.html
